body {
  background-color: #FCE181;

}

.container {
  max-width: 700px;
  margin: auto;
  padding-top: 1em;
}

.jumbotron {
  background-color: #9FEDD7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inner-container {
  max-width: 400px;
  margin: auto;
}

.card-showing {
  display: block;
}

.card-hidden {
  display: none;
}

.card {
  background-color: #026670;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
  margin: 7px;
  background-color: #026670;
}

.form-control {
  margin-bottom: 15px;
  padding-bottom: 10px;
}
